.log1{
    background-image: url("D:\sb-3\digi-marketing\digi\src\assets\bg1.jpg");
    background: cover;
    background-position: center;
    width: 100vw;
    height: 100vh;
}
.container{
    align-items: center;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 12;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: 500px;
    width: 500px;
    border-color: black;
    border-radius: 20px;
    padding: 20px;
    background: transparent;
    backdrop-filter: blur(20px);
    border: 2px solid #000000;
}
.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 11px;
    width: 100%;
    margin-top: 20px;
}
.Name{
    display: flex;
    gap: 10px;
}
.Details{
    display: flex;
    gap: 10px;
}
.Password{
    display: flex;
    gap: 10px;
}
.Button{
    display: flex;
    gap: 30px;
    margin: 40px auto;
    margin-top: 10px;
    margin-bottom: 15px;
}
.Forget-Password{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 15px;
    color: #fff;
    border-radius: 50px;
    font-weight: 700;
    cursor: pointer;
}
.Login{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 15px;
    color: #fff;
    border-radius: 20px;
    font-weight: 700;
    cursor: pointer;
}

/* 

.register-main, .login-main{

    width: 450px;
    display: flex;
   position: absolute;
   left:35%;
    flex-flow: column;
    margin-top: 60px;
    justify-self: center;
    padding: 50px;
    background-color: rgba(253, 254, 254, 0.9);
    border-radius: 10px;
    box-shadow: 2px 2px 6px black;
}
.errP{
    align-self: center;
    color: red;
    margin-top: 10px;
}
.register-main p, .login-main p{
    line-height: 6px;
    font-size: 18px;

}
.register-main h1, .login-main h1{
    align-self: center;
}
.register-main input, .login-main input{
    border-top: none;
    border-left:none;
    border-right:none;
    background-color: transparent;
    outline-style: none;
    color: dimgrey;

}
input:focus{
    border-color: rgb(168, 82, 22);
    caret-color: chocolate ;
}
.register-main button, .login-main button{
    margin: 20px 0px !important;
    height: 40px;
    width: 100px;
    align-self: center;
    border: none;
    background-color: rgb(11, 169, 11);
    color: white;
    
}
.register-main button:hover, .login-main button:hover{
    box-shadow: 2px 3px 5px black;
    background-color: rgb(3, 149, 3);
}
.login-body, .register-body{
    background-image: url("D:\sb-3\digi-marketing\digi\src\assets\bg1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 806px;
    margin-top: -61px;
    padding-top: 132px;
} */